body {
  background-color: goldenrod;   
}

#burger-name {
  width: 300px;
  height: 25px;
  margin-bottom: 10px;
}

b {
  font-size: 30px
}

.not-devoured {
  float: left;
  margin: 20px
}

.list-group-item {
  background: transparent
}

#scoobygify {
  align-items: center;
  width: 50%
}